html,
body {
  background-color: #012a4a;
  background: url(../images/mountains-1412683.svg) no-repeat;
  background-size: cover;
  height: 100%;
}

html body {
  overflow: hidden;
}

.card-list {
  background: rgb(255, 218, 205);
  background: linear-gradient(180deg,
      rgba(255, 218, 205, 0.8) 0%,
      rgba(91, 90, 153, 0.8) 100%);
}

#date {
  border-bottom-color: #c5c3c6 !important;
}

.light-rain {
  content: url("https://api.iconify.design/ph:cloud-rain-thin.svg?height=32");
  vertical-align: -0.125em;
}

.sunny {
  content: url('https://api.iconify.design/ic:baseline-wb-sunny.svg?height=24');
  vertical-align: -0.125em;
}

.normal-rain {
  content: url("https://api.iconify.design/carbon:rain.svg?height=32");
  vertical-align: -0.125em;
}

.heavy-rain {
  content: url("https://api.iconify.design/carbon:rain-heavy.svg?height=32");
  vertical-align: -0.125em;
}

.normal-thunder {
  content: url("https://api.iconify.design/carbon:thunderstorm.svg?height=32");
  vertical-align: -0.125em;
}

.heavy-thunder {
  content: url("https://api.iconify.design/carbon:thunderstorm-strong.svg?height=32");
  vertical-align: -0.125em;
}

.small-cloud {
  content: url("https://api.iconify.design/carbon:partly-cloudy.svg?height=32");
  vertical-align: -0.125em;
}

.cloudy {
  content: url("https://api.iconify.design/carbon:mostly-cloudy.svg?height=32");
  vertical-align: -0.125em;
}

.big-clouds {
  content: url("https://api.iconify.design/carbon:cloudy.svg?height=32");
  vertical-align: -0.125em;
}

.link-main {}

.link-item {
  margin: auto;

  padding: 0.5em;
  font-size: 2.5em;
  color: inherit;
  text-decoration: none;
  transition: all 0.15s cubic-bezier(.17, .67, .83, .67);
}

#youtube:hover {
  color: #FF0000;
}

#gmail:hover {
  color: #BB001B;
}

#reddit:hover {
  color: #ff4500;
}

#github:hover {
  color: #ffffff;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  height: 50px;
}

.search-btn {
  background: rgb(255, 218, 205);
  background: linear-gradient(180deg,
      rgba(255, 218, 205, 0.5) 0%,
      rgba(91, 90, 153, 0.5) 100%);
  ;
  border: none;
  width: 50px;
  height: 50px;
}

.searchBox {
  background: #5a5f92;
  box-sizing: border-box;
  border-radius: 25px;

}

#search-icon {
  height: 50px;
}

.searchBox:hover>.search-input {
  width: 240px;
  padding: 0 6px;
  color: white;
}

.searchBox:hover>.search-btn {
  background: rgb(255, 218, 205);
  background: linear-gradient(180deg,
      rgba(255, 218, 205, 0.5) 0%,
      rgba(91, 90, 153, 0.5) 100%);
  ;
}